# Ignore raw and generated data
data/raw/**
data/interim/**
!data/interim/
!data/interim/.gitkeep
!data/interim/alsfrs_core.csv
data/processed/**

# Keep folder structure
!data/raw/
!data/raw/.gitkeep
!data/processed/
!data/processed/.gitkeep

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Python cache
__pycache__/
*.pyc

# R history
.Rhistory