name: als-capstone
channels:
  - conda-forge
dependencies:
  - python=3.11
  - numpy
  - pandas
  - scikit-learn
  - matplotlib
  - seaborn
  - scipy
  - statsmodels
  - jupyter
  - ipykernel
  - tqdm
  - pyyaml
  - lifelines
